<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
      
<mapper namespace="com.rs.devplatform.persistent.mapper.ZbxxMapper">

	<update id="executSql">
		 ${sql}
	</update>
	
	<update id="logicDeleteSql" parameterType="java.util.List">
		update jcsj_zbxx set zbxx_deleted='T' where zbxx_id in
		<foreach collection="idList" index="index" item="id" open="("
                 separator="," close=")">
                 #{id}
        </foreach>
	</update>
	
	<select id="selectSql" resultType="java.util.HashMap" >
		select zbxx_id AS id, zbxx_version as version,  
        WHERE  ${sql}
        
	</select>


	
	
</mapper>
